<h1>Ejecutando código de Ruby</h1>

<h2>Sin el igual</h2>

<% [1,2,3,4,5].each do |num| %>
	<p>Número: <%= num %></p>
<%end%>

<h2>Con el igual</h2>

<%= [1,2,3,4,5].each do |num| %>
	<p>Número: <%= num %></p>
<%end%>

<p>El arreglo también se imprimió en la pantalla porque tenía en el boque de código un igual.</p>